.addScient {
  width: 108%;
  height: 43px;
  background: #e54744;
  margin-top: -24px;
  margin-left: -25px;
  margin-bottom: 26px;
  color: white;
  text-align: center;
}
::ng-deep .snack-bar-invalid {
  background: white !important;
  color: red;
  width: auto;
}
::ng-deep .snack-bar {
  background: green !important;
  color: white;
  width: auto;
}
