<form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
  <div class="border-bottom d-flex font-weight-bold justify-content-center align-content-center pb-2">
    <h4>Đổi mật khẩu</h4>
  </div>
  <div class="container mt-4 border-bottom">
    <div class="row ml-4">
      <div class="col-6 mt-1">
        <span>Mật khẩu hiện tại (<label style="color: red">*</label>)</span>
      </div>
      <div class="col-6 form-group pl-0 pr-5 position-relative">
        <input formControlName="oldPassword" class="form-control" [type]="isShowPassword1 ? 'text' : 'password' ">
        <div class="position-absolute" style="top : 5px; right: 60px">
          <i *ngIf="!isShowPassword1" (click)="isShowPassword1=!isShowPassword1" class="fa fa-eye" aria-hidden="true"></i>
          <i *ngIf="isShowPassword1" (click)="isShowPassword1=!isShowPassword1" class="fa fa-eye-slash" aria-hidden="true"></i>
        </div>
        <small
          *ngIf="passwordForm.controls.oldPassword.hasError('pattern') && (passwordForm.controls.oldPassword.dirty || passwordForm.controls.oldPassword.touched)"
          style="color: red"> kí tự chữ a -z không dấu , kí tự số 0-9 , ít nhất 5 kí tự </small>
      </div>
    </div>
    <div class="row ml-4">
      <div class="col-6 mt-1">
        <span>Nhập mật khẩu mới (<label style="color: red">*</label>)</span>
      </div>
      <div class="col-6 form-group pl-0 pr-5 position-relative">
        <input formControlName="newPassword" class="form-control" [type]="isShowPassword2 ? 'text' : 'password' ">
        <div class="position-absolute" style="top : 5px; right: 60px">
          <i *ngIf="!isShowPassword2" (click)="isShowPassword2=!isShowPassword2" class="fa fa-eye" aria-hidden="true"></i>
          <i *ngIf="isShowPassword2" (click)="isShowPassword2=!isShowPassword2" class="fa fa-eye-slash" aria-hidden="true"></i>
        </div>

        <small
          *ngIf="passwordForm.controls.newPassword.hasError('pattern') && (passwordForm.controls.newPassword.dirty || passwordForm.controls.newPassword.touched)"
          style="color: red"> kí tự chữ a -z không dấu , kí tự số 0-9 , ít nhất 5 kí tự </small>
      </div>
    </div>
    <div class="row ml-4">
      <div class="col-6 mt-1">
        <span>Xác nhận mật khẩu (<label style="color: red">*</label>)</span>
      </div>
      <div class="col-6 form-group pl-0 pr-5 position-relative">
        <input formControlName="confirmPassword" class="form-control" [type]="isShowPassword3 ? 'text' : 'password' ">
        <div class="position-absolute" style="top : 5px; right: 60px">
          <i *ngIf="!isShowPassword3" (click)="isShowPassword3=!isShowPassword3" class="fa fa-eye" aria-hidden="true"></i>
          <i *ngIf="isShowPassword3" (click)="isShowPassword3=!isShowPassword3" class="fa fa-eye-slash" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end mt-4">
    <button  class="mr-3 btn btn-success button" style="font-size: 14px; width: 100px">
      <i class="fa fa-check" aria-hidden="true"></i> Hoàn tất
    </button>
    <button class="btn btn-primary button" style="margin-right: 47px ;font-size: 14px; width: 85px" type="button"
            (click)="closeDialog()">
      <i class="fa fa-reply"></i> Trở về
    </button>
  </div>
</form>



