<div class="container-fluid row">
  <div class="col-md-2 col-sm-2"></div>
  <div class="col-md-8 col-sm-8 ml-3" style="">
    <fieldset class="scheduler-border" style="background: white;box-shadow: 0 0 2px 2px #cccccc;">
      <legend class="scheduler-border text-center" style="background: #e54744;height: 50px"><h1>CHỈNH SỬA ĐIỂM ĐẾN</h1></legend>
      <br>

      <form class="form-group col-12" [formGroup]="destinationForm">
        <input hidden formControlName="destinationId" name="destinationId" type="text">
        <div class="row input-group">
          <div class="col-2 folow-right">Tên điểm đến :</div>
          <div class="col-10">
            <div class="d-flex align-items-center">
              <input formControlName="destinationName" name="destinationName" class="form-control" type="text">
            </div>
            <div>
              <div style="color: red" *ngIf="destinationForm.controls.destinationName.hasError('required')&&destinationForm.controls.destinationName.touched">Tên không được trống.</div>
              <div style="color: red" *ngIf="destinationForm.controls.destinationName.hasError('maxlength')&&destinationForm.controls.destinationName.touched">Tên phải < 20 Kí tự. </div>
              <div style="color: red" *ngIf="destinationForm.controls.destinationName.hasError('pattern')&&destinationForm.controls.destinationName.touched">Tên không chứa kí tự đặc biệt.</div>
              <div style="color: red">{{messageUnique}}</div>
            </div>
          </div>
        </div>
        <br>
        <div class="row input-group">
          <div class="col-2 folow-right">Mô tả :</div>
          <div class="col-10">
            <textarea formControlName="destinationDescription" name="destinationDescription" class="form-control" rows="5" type="text"></textarea>
            <div>
              <div style="color: red" *ngIf="destinationForm.controls.destinationDescription.hasError('required')&&destinationForm.controls.destinationDescription.touched">Mô tả không được trống.</div>
              <div style="color: red" *ngIf="destinationForm.controls.destinationDescription.hasError('minlength')&&destinationForm.controls.destinationDescription.touched">Mô tả phải > 10 Kí tự. </div>
              <div style="color: red" *ngIf="destinationForm.controls.destinationDescription.hasError('maxlength')&&destinationForm.controls.destinationDescription.touched">Mô tả phải <= 200 Kí tự. </div>
            </div>
          </div>
        </div>
        <br>
        <div class="row input-group">
          <div class="col-2 folow-right pr-0">Chọn ảnh chính :</div>
          <div class="col-10">
            <input id="image-main" class="form-control-file" type="file" (change)="showPreview($event)">
            <div class="mt-1" [hidden]="url==''"><img [src]="url" style="width: 120px;height: 80px"></div>
          </div>
        </div>
        <br>
        <div class="row input-group mb-4">
          <div class="col-2 folow-right">Bài viết :</div>
          <div class="col-8">
            <input (click)="onAddScenicHandler()" class="btn" type="button" style="background-color: #9fcdff" value="Thêm bài viết">
            <div style="color: red">{{messageEmptyScenic}}</div>
          </div>
        </div>

        <div>
          <div class="row">
            <div class="col-2"></div>
            <div class="col-5">
              <table class="table table-active table-bordered" style="margin-left: -5px">
                <tr [hidden]="listScenics.length==0">
                  <th class="p-1">STT</th>
                  <th class="p-1">Bài viết</th>
                  <th class="p-1" colspan="2"></th>
                </tr>
                <tr *ngFor="let scenic of listScenics; index as i">
                  <td class="p-1">{{i+1}}</td>
                  <td class="p-1">{{scenic.scenicName}}</td>
                  <td (click)="editScenic(scenic.scenicId)" class="p-1 text-success" style="cursor: pointer">Sửa</td>
                  <td (click)="delConfirm(scenic.scenicId)" class="p-1 text-danger" style="cursor: pointer">Xóa</td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-end pb-3">
          <button (click)="onUpdateDestinationHandler()" class="mr-5 btn btn-success" type="submit"><i class="fa fa-check" aria-hidden="true"></i> Hoàn tất</button>
          <a href="/"><button class="btn btn-back" style="background: #005cbf;color: white;margin-right: 33px" type="button"><i class="icon-sidebar fa fa-reply "></i> Trở về</button></a>
        </div>
      </form>

    </fieldset>
  </div>
</div>


