*{
  font-size: 14px;
}

.text-center {
  color: white;
  font-weight: bold;
  text-shadow: 0 0 0 2px #5f6062;
  background-color: #aaaaaa;
}


.select{
  width: 100px;
}
.select-witch{
  width: 150px;
  height: 36px !important;
}


.icon{
  padding: 10px 10px 0 0;
}

#content {
  box-shadow: 0 0 2px 2px #cccccc;
  width: 90%;
}

/*bảng*/

table {
  background-color: white;
}
.thead{
  background-color: #fe8f83;
  /*background-color: #cccccc;*/
  /*background-color: #b09eef;*/
  color: black;

}

/*.choose-row{*/
/*    background-color: #f3b4ad;*/
/*}*/

.sub-main{
  /*background-image: url("./image/half-opacity-pink-smallsize.png") ;*/
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}

i{
  padding-bottom: 6px;
}
.pointer {cursor: pointer;}
i:hover {
  pointer-events: fill;
}
.search-form{
  width: 50%;

}

.select-field{
  height: 30px !important;
  border-radius: 5px;

}
.option{
  border-radius: 5px;
}

.input-search{
  border-radius: 5px;
  height: 30px !important;
  outline: none;
  padding-left: 15px;

}

/*button*/

.button-search{
  margin-bottom: 5px;
}

.search-text{
  margin-top: 2px;
  font-size: 16px;
}


.btn-delete{
  background-color: #dc3545;
}

.btn-edit {
  background-color: #567FEA;
}

.btn-edit:hover{
  color: white;
  background-color: rgba(86,127,234,0.8) ;
}

.btn{
  min-width: 90px;
}

.btn-return{
  background-color: #0062D2;
  color: white;
}


.btn-print {
  background-color: #18AEFF;
  color: white;
}

.btn-print:hover{
  color: white;
}
.btn-search {
  background-color: #F58317;
  color: white;

}

.select-field{
  width: 25%;
}

.search{
  width: 70%;
}
td{
  text-align: center;
}
th{
  text-align: center;
}
.content-destination{
  margin-top: -15px;
  margin-left: 6%;
  margin-right: 6%
}
:root {
  --navbar-hidden: rgba(44, 62, 80, 0.9);
  --text-color: #fff;
}

/*#region HEADER*/
body, header, header ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

header {
  color: var(--text-color);
  background: #e54744;
  height: 80px;
  width: 100%;
  padding: 0 80px;
  position: fixed;
  top: 0;
  transition: all 0.8s;
  z-index: 1000;
}

header.sticky {
  height: 77px;
  color: #000;
  opacity: 0.7;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.4);
}

header a {
  text-decoration: none;
  color: var(--text-color);
}

header a:hover {
  color: var(--text-color);
}

header span {
  width: 180px;
  display: flex;
  position: absolute;
  top: 10px;
  right: 90px;
}

label.logo,
label.logo1 {
  color: var(--text-color);
  font-family: 'Algerian', cursive;
  /*font-family: 'Snap ITC', cursive;*/
  /*font-family: 'OCR A', cursive;*/
  padding-left: 40px;
  font-size: 35px;
  line-height: 80px;
  font-weight: bold;
}
label.logo1 {
  display: none;
}
header ul {
  float: right;
  margin-right: 20px;
}


header ul li {
  display: inline-block;
  line-height: 110px;
  padding: 4px 4px 4px 10px;
  box-sizing: border-box;

}

header ul li a {
  color: var(--text-color);
  font-weight: bold;
  font-size: 17px;
  border-radius: 3px;
  text-transform: uppercase;
}

header ul li a:hover {
  color: red;
  font-weight: bold;
  background: #f7f7f7;
  text-decoration: none;
}

header .checkBtn {
  font-size: 25px;
  color: var(--text-color);
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

header #check {
  display: none;
}

@media (max-width: 1090px) {
  label.logo1 {
    width: 200px;
    padding-left: 0;
  }
  label.logo1 {
    display: inline;
  }
  label.logo {
    display: none;
  }
}
@media (max-width: 915px) {
  header {
    padding: 0 30px;
  }

  header label.logo {
    padding-left: 40px;
  }

  header ul li a {
    font-size: 16px;
  }

  header span {
    position: absolute;
    top: 28px;
    right: 100px;
  }

  header .checkBtn {
    display: block;
  }

  header ul {
    position: fixed;
    width: 40%;
    height: 200px;
    margin-left: 60%;
    padding-left: 20px;
    background: var(--navbar-hidden);
    box-shadow: 0 5px 20px #888888;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    top: 80px;
    left: 100%;
    text-align: left;
    transition: all .5s;
  }

  header ul li {
    display: block;
    margin: 10px 0;
    line-height: 30px;
  }

  header ul li a {
    font-size: 15px;
  }

  header li a:hover {
    background: none;
  }

  header #check:checked ~ ul {
    left: 0;
  }
}

.carousel {
  width: 100%;
  height: calc(100vh - 80px);
  margin-top: 80px;
  clear: left;
}

/*#endregion*/

/*#region MY-CART*/
.my-card {
  width: 100%;
  height: 40%;
  margin-top: 20px;
  position: relative;
}

.my-card img {
  width: 100%;
  height: 100%;
  padding-left: 20px;
}

.my-card .my-card-title {/* <<<<<<<<<<<<<<<<<<<<< */
  color: white;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 20px;
  background: red;
  display: inline;
  border-radius: 2px;
  position: relative;
}

.my-card .my-card-title-3 {
  width: 59px;
  height: 59px;
  padding-left: 20px;
  position: absolute;
  top: 2px;
  left: -38px;
}

.my-card .my-card-title-2 {
  width: 100px;
  height: 20px;
  padding-left: 20px;
  position: absolute;
  top: 0;
  right: -1px;
}
.my-card-titles {
  position: absolute;
  top: -1.5px;
  left: 0px;
}
.my-card .my-card-title-1 img {
  width: 100%;
  height: 100%;
  padding-left: 20px;
  border-radius: 4px;
}
/*#endregion*/

/*#region PLANE-TICKET*/
.carousel .plane-ticket {
  width: 380px;
  height: 400px;
  padding-top: 30px;
  background: rgba(255, 56, 53, 0.81);
  position: absolute;
  top: -165%;
  right: 10%;
  border-radius: 10px;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.2);
  z-index: 600;
}

/*Edit input*/
.carousel .plane-ticket input {
  margin: 10px 0 0 18px;
  width: 90%;
  height: 48px;
  font-weight: 500;
  font-size: 15px;
  background: white;
}

.carousel .plane-ticket .ticket-input-left,
.carousel .plane-ticket .ticket-input-right {
  position: relative;
}

.carousel .plane-ticket .ticket-input-left .ticket-icon {
  font-size: 20px;
  position: absolute;
  top: 20px;
  left: 30px;
}

.carousel .plane-ticket .ticket-title {
  color: #7C848B;
  font-size: 12px;
  position: absolute;
  top: 12px;
  left: 55px;
}

.carousel .plane-ticket .ticket-normal {
  padding-top: 15px;
}

.carousel .plane-ticket input.ticket-normal {
  border-radius: 5px;
}

.carousel .plane-ticket .ticket-input-left input {
  width: 100%;
  padding-left: 32px;
  border-radius: unset;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.carousel .plane-ticket .ticket-input-right input {
  width: 80%;
  border-radius: unset;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.carousel .plane-ticket .ticket-radio input {
  margin-top: 20px;
  width: 17px;
  height: 17px;
}

/*CHOOSE Passenger*/
.carousel .plane-ticket .ticket-element {
  position: relative;
}

.carousel .plane-ticket .showHidden {
  width: 350px;
  height: 270px;
  border-radius: 5px;
  display: none;
  position: absolute;
  top: 60px;
  right: 16px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.carousel .plane-ticket .col:last-child {
  font-size: 25px;
  padding-right: 50px;
  text-align: end;
}

.carousel .plane-ticket table td a {
  color: black;
}

.carousel .plane-ticket table td:first-child {
  padding-left: 30px;
}

.carousel .plane-ticket table td:last-child {
  font-weight: bold;
}

/*button Tìm chuyến bay*/
.carousel .plane-ticket .findPlan {
  position: absolute;
  bottom: 45px;
  left: 120px;
  z-index: -100;
}

/*#endregion*/

/*#region Top 10 cheapest flights*/

.flights-10 .flight {
  margin: 0 1%;
  width: 150px;
  height: 170px;
  display: inline-block;
}

.flights-10 .flight .flight-content {
  position: relative;
}

.flights-10 .flight .flight-content .flight-center {
  font-weight: 500;
  position: absolute;
  top: 10px;
  left: 45px;
}

/*#endregion*/

@media (max-width: 930px) {
  .carousel {
    position: relative;
    height: 100%;
  }

  .carousel-indicators {
    position: absolute;
    top: 80%;
    left: 0;
  }

  .carousel .plane-ticket {
    width: 100%;
    padding: 0 20%;
    padding-top: 30px;
    position: unset;
    float: left;
    clear: left;
    z-index: 200;
  }

  .carousel .plane-ticket .showHidden {
    margin-left: 18px;
    bottom: 0px;
    left: 0px;
  }

  .carousel .plane-ticket .findPlan {
    position: relative;
    top: 25px;
    left: 30%;
    z-index: 10;
  }

  .flights-10 .flight {
    box-sizing: border-box;
  }
}



/*#region FOOTER*/
.footer {
  width: 100%;
  padding: 20px 6%;
  color: black;
  font-weight: bold;
  position: relative;
  bottom: 0;
}

.footer .column:first-child img {
  width: 26px;
  height: 26px;
}

.footer .column:nth-child(3) img {
  width: 101px;
  height: 31px;

}

.footer .column:nth-child(3) img:first-child {
  width: 43px;
  height: 38px;

}

.footer .column:nth-child(4) img {
  width: 112px;
  height: 43px;

}

/*#endregion*/
.side-bar {
  color: black;
}
.side-bar .background-side {
  box-shadow: 0 0 2px 2px #cccccc;
}
.side-bar ul, .side-bar li {
  padding-left: 0;
  list-style: none;
  background: rgba(255,255,255, 0.7);

}
.side-bar .fa-circle {
  font-size: 7px;
}
.side-bar ul li {
  padding: 10px;
}

.side-bar .item-hover {
  /*font-weight: bold;*/
}
.side-bar .item-hover a {
  color: black;
  text-decoration: none;
}

.side-bar .item-hover:hover {
  color: white;
  background: #e54744;
}
.side-bar .item-hover:hover a {
  color: white;
  text-decoration: none;
}

.side-bar .menu-item{
  width: 100%;
}
.to-text-sidebar{
  font-weight: bold;
  font-size: larger;
}

legend h1 {
  font-size: large;
  padding-top: 15px
}
::ng-deep .snack-bar {
  background: green !important;
  color: white;
  width: auto;
}
::ng-deep .snack-bar-invalid {
  background: white !important;
  color: red;
  width: auto;
}





