input[type=date] {
  border: 1px solid;
  border-radius: 4px;
  width: 170px;
  height: 50px;
}

select {
  border: 1px solid;
  border-radius: 4px;
  width: 170px;
  height: 50px;
}

.bt {
  width: 150px;
  margin-left: 300px;
  margin-top: 20px;
}

 .bg1 {
  background-color: white;
  height: 650px;
}

.w1 {
  margin-left: 20px;
}
.w2 {
  margin-left: 15px;
}

.title {
  background-color: #4666fe;
  color: white;
}

.bn-search {
  background-color: #18AEFF;
}
tr{
  border: 5px solid white;
}


