/*.chat-form{*/
/*  border-top:1px ;*/
/*  position: relative;*/
/*}*/
.chat-form input{
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid black;
  outline: none;
  height: 40px;
}
/*.chat-form label{*/
/*  position: absolute;*/
/*  top: 50%;*/
/*  transform: translateY(-50%);*/
/*  right: 20px;*/
/*  font-size: 24px;*/
/*  cursor: pointer;*/
/*}*/
