

<div class="container-fluid" style="min-height: 800px">
  <div class="row">
    <!--            sidebar-->
    <div class="col-3 col-lg-3">
      <app-side-bar></app-side-bar>
    </div>
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12">
      <div class="right-content w-100">
        <!--        nơi đổ dữ liệu router-outlet              -->
        <div class="text-center pt-3"><h3>ĐỔI MẬT KHẨU</h3></div>
        <div class="text-center text-grey"><p>Vui lòng tạo mật khẩu của bạn bên dưới và xác nhận:</p></div>
        <div class="container-change-password">
          <fieldset class="scheduler-border">
            <br>
            <form class="form-group col-12" (ngSubmit)="changePassword()" [formGroup]="passwordForm">
              <div class="row input-group">
                <div class="col-3 folow-right form-la">
                  <label for = "oldPassword">Mật khẩu cũ <span class="text-danger">*</span></label>
                </div>
                <div class="col-8">
                  <div class="d-flex align-items-center">
                    <input id="oldPassword" class="form-control" type="password" formControlName="oldPassword" autocomplete="on">
                  </div>
                  <small
                    *ngIf="passwordForm.controls.oldPassword.hasError('pattern') && (passwordForm.controls.oldPassword.dirty || passwordForm.controls.oldPassword.touched)"
                    style="color: red">  Mật khẩu phải từ 8-20 ký tự bao gồm ký tự viết hoa và số. </small>
                </div>
              </div>
              <br>
              <div class="row input-group">
                <div class="col-3 folow-right">
                  <label for = "newPassword">Mật khẩu mới <span class="text-danger">*</span></label>
                </div>
                <div class="col-8">
                  <input id="newPassword" class="form-control" type="password" formControlName="newPassword" autocomplete="on">
                  <small
                    *ngIf="passwordForm.controls.newPassword.hasError('pattern') && (passwordForm.controls.newPassword.dirty || passwordForm.controls.newPassword.touched)"
                    style="color: red">  Mật khẩu phải từ 8-20 ký tự bao gồm ký tự viết hoa và số. </small>
                </div>
              </div>
              <br>
              <div class="row input-group">
                <div class="col-3 folow-right">
                  <label for = "confirmPassword">Xác nhận mật khẩu <span class="text-danger">*</span></label>
                </div>
                <div class="col-8">
                  <input id="confirmPassword" class="form-control" type="password" formControlName="confirmPassword" autocomplete="on">
                  <small
                    *ngIf="passwordForm.controls.confirmPassword.hasError('pattern') && (passwordForm.controls.confirmPassword.dirty || passwordForm.controls.confirmPassword.touched)"
                    style="color: red">  Mật khẩu phải từ 8-20 ký tự bao gồm ký tự viết hoa và số. </small>
                </div>
              </div>
              <br>
            </form>
            <div class="d-flex justify-content-around pb-3">
              <button class="mr-5 btn btn-confirm" type="button" (click)="changePassword()"> Xác nhận
              </button>
            </div>
          </fieldset>
        </div>

      </div>
    </div>
  </div>
</div>

