<div>
  <div style="height: 650px;margin-left: -2%;margin-right: -2%">
    <img class="m-0 p-0" src="{{destinations.destinationImage}}" style="width:100%; height: 100%; object-fit: cover;">
  </div>

  <div class="pt-0 bg-light content-destination">
    <br>
    <div class="p-3 mt-3"><h1
      style="color: red;font-family: 'Bodoni MT';font-weight: bold; font-size: 50px;">{{destinations.destinationName}}</h1></div>
    <div class="ml-3 mb-3">{{destinations.destinationDescription}}</div>
    <div *ngFor="let s of scenic">
      <div class="ml-3 font-weight-bold pb-1">{{s.scenicName}} </div>
      <div class="ml-3">{{s.scenicDescription}}</div>
      <div class="mt-4 mb-4">
        <div style="margin-left: 10%"><img style=" max-width: 1150px; max-height: 500px" src="{{s.scenicImage}}"></div>
      </div>
      <br>
    </div>
  </div>
</div>
