<div class="container-fluid">
  <div class="row">
    <div class="footer">
      <div class="row">
        <p>
          © 2021 VeGiaRe Airlines JSC<br>
          Tổng công ty Hàng không Việt Nam - CTCP. Thượng Sơn, Đô Lương, Nghệ An. <br>
          Điện thoại: <a href="tel:+842438272289" class="footertel">(+84-24) 38272289</a>. Fax: (+84-24) 38722375.<br>
          Giấy chứng nhận đăng ký doanh nghiệp, mã số doanh nghiệp: 0100107518, đăng ký lần đầu ngày 30/6/2010, đăng ký thay đổi lần thứ 7 ngày 01/01/2021, cấp bởi Sở KHĐT thành phố Hà Nội.
        </p>
        <br>
        <div class="footer-icon">
          <a href="#"><img src="../../../../assets/img/logoCCDV.png" alt="" style="height: 100px; width: 200px"></a>
          <a href="#"><img src="../../../../assets/img/logoSaleNoti.png" alt="" style="height: 100px; width: 200px"></a>
          <a href="#"><img src="../../../../assets/img/seal_image.png" alt="" style="height: 100px; width: 200px"></a>
        </div>
      </div>
    </div>
  </div>
</div>
