<div class="container-fluid">
  <div class="row justify-content-center">
    <h2><b>Thông tin hành khách thực hiện chuyến bay</b></h2>
  </div>
</div>

<div *ngFor="let newForm of formArray.controls; index as i">
<form [formGroup]="newForm"  novalidate>
<div class="container-fluid">
  <div class="row border border-dark px-5 py-2 my-3 bg-white rounded">
    <div class="col-lg-12">

        <div class="row">
          <h4><b>{{tickets[i].flight.locationFrom.cityName}} <i
            class="fa fa-fighter-jet"></i> {{tickets[i].flight.locationTo.cityName}}</b></h4>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="row">{{tickets[i].flight.locationFrom.cityName}} {{tickets[i].flight.locationFrom.areaCode}}</div>
            <div class="row">{{tickets[i].flight.departureTime}}, {{tickets[i].flight.flightDate | date: 'dd/MM/yyyy'}}</div>
            <div class="row">{{tickets[i].flight.locationFrom.airportName}}</div>
            <div class="row">
              <div class="col-lg-6">
                <div class="row">Loại hành khách:</div>
                <div class="row" style="font-weight: bold; color: #dc3545">{{tickets[i].passengerType}}</div>
              </div>
              <div class="col-lg-6">

              </div>
            </div>

            <div class="row">
              <div class="col-lg-6">
                <div class="row">Hành lý ký gửi:</div>
              </div>
              <div class="col-lg-6">
                <div class="row">{{tickets[i].checkInBaggage}} kg</div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="row">{{tickets[i].flight.locationTo.cityName}} {{tickets[i].flight.locationTo.areaCode}}</div>
            <div class="row">{{tickets[i].flight.endTime}}, {{tickets[i].flight.flightDate | date: 'dd/MM/yyyy'}}</div>
            <div class="row">{{tickets[i].flight.locationTo.airportName}}</div>
            <div class="row">
              <div class="col-lg-6">
<!--                <div class="row">Giá mỗi vé:</div>-->
<!--                <div class="row">{{tickets[i].ticketPrice | currency: 'VNĐ': '' | slice:0:9 }} VNĐ</div>-->
              </div>
              <div class="col-lg-6">
<!--                <div class="row">Thuế & Phí:</div>-->
<!--                <div class="row">{{tickets[i].tax*tickets[i].ticketPrice | currency: 'VND': ''}} VNĐ</div>-->
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="row">{{tickets[i].flight.airline.airlineName}}</div>
            <div class="row">Chuyến bay: {{tickets[i].flight.flightCode}}</div>
            <div class="row">Loại vé: {{tickets[i].ticketType}}</div>
            <div class="row">
              <div class="col-lg-12">
                <div class="row">Tổng giá:</div>
                <div class="row">{{tickets[i].ticketPrice + (tickets[i].ticketPrice * tickets[i].ticketTypePrice) + tickets[i].plusBaggage*1000 + (tickets[i].ticketPrice * tickets[i].tax) - (tickets[i].ticketPrice * tickets[i].passengerTypePrice) | currency : 'VND' : ''}} VNĐ</div>
              </div>
            </div>
          </div>
        </div>


      <div class="row">Thông tin người bay từ TP Hồ Chí Minh --> Hà Nội</div>

        <div class="row border border-dark px-2 my-2">
          <div class="col-lg-12 pb-1">
            <div class="row py-2 align-items-center">
              <div class="col-lg-6">
                <div class="row">
                  <div class="col-lg-5 mr-0 pr-0 pl-0">
                    Hành khách số 1
                  </div>
                  <div class="col-lg-7">
                    <div class="row align-items-start ml-2 pl-1">
                      <div class="col-lg-1 px-0">
                        <input type="checkbox" [(ngModel)]="checkbox" (click)="setCheckboxTrue()"/>
                      </div>
                      <div class="col-lg-11 px-0 align-items-start">
                        Có kèm em bé
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-2">
                <div class="row"><label for="passengerName" class="label-text">Họ và tên <span style="color: red">(*)</span></label>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="row"><input id="passengerName" type="text" formControlName="passengerName"></div>
              </div>
              <div class="col-lg-2 pr-1">
                <div class="row"><label for="plusBaggage">Hành lý ký gửi</label></div>
              </div>
              <div class="col-lg-4 pl-4">
                <div class="row">
                  <select id="plusBaggage" formControlName="plusBaggage">
                    <option value="0">Chọn mua thêm hành lý</option>
                    <option value="100">Mua thêm 7kg - 100.000 VNĐ</option>
                    <option value="170">Mua thêm 15kg - 170.000 VNĐ</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row pb-2">
              <div class="col-lg-2"></div>
              <div class="col-lg-4">
                <div class="row align-items-start">
                  <div *ngIf="ticketForm.get('passengerName')?.invalid && (ticketForm.get('passengerName')?.dirty || ticketForm.get('passengerName')?.touched)">
                    <small style="color: red">Tên hành khách không hợp lệ!</small>
                  </div>
                </div>
              </div>
              <div class="col-lg-2"></div>
              <div class="col-lg-4">
                <div class="row align-items-start">
                  <div *ngIf="ticketForm.get('plusBaggage')?.invalid && (ticketForm.get('plusBaggage')?.dirty || ticketForm.get('plusBaggage')?.touched)">
                    <small style="color: red">Hành lý ký gửi không hợp lệ!</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-2">
                <div class="row"><label for="passengerGender" class="label-text">Giới tính <span style="color: red">(*)</span></label>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="row">
                  <select id="passengerGender" formControlName="passengerGender">
                    <option value="" selected disabled>Chọn giới tính</option>
                    <option>Nam</option>
                    <option>Nữ</option>
                  </select>
                </div>
              </div>
              <div class="col-lg-2 pr-1">
                <div class="row"><label class="label-text" for="passengerEmail">Email</label></div>
              </div>
              <div class="col-lg-4 pl-4">
                <div class="row">
                  <input id="passengerEmail" style="height: 25px" type="text" formControlName="passengerEmail">
                </div>
              </div>
            </div>
            <div class="row pb-2">
              <div class="col-lg-2"></div>
              <div class="col-lg-4">
                <div class="row align-items-start">
                  <div *ngIf="ticketForm.get('passengerGender')?.invalid && (ticketForm.get('passengerGender')?.dirty || ticketForm.get('passengerGender')?.touched)">
                    <small style="color: red">Giới tính không hợp lệ!</small>
                  </div>
                </div>
              </div>
              <div class="col-lg-2"></div>
              <div class="col-lg-4 pl-4">
                <div class="row align-items-start">
                  <div *ngIf="ticketForm.get('passengerEmail')?.invalid && (ticketForm.get('passengerEmail')?.dirty || ticketForm.get('passengerEmail')?.touched)">
                    <small style="color: red">Email không hợp lệ!</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-2">
                <div class="row"><label for="passengerPhone">Số điện thoại</label></div>
              </div>
              <div class="col-lg-4">
                <div class="row">
                  <input id="passengerPhone" style="height: 25px" type="text" formControlName="passengerPhone">
                </div>
              </div>

                <div *ngIf="tickets[i].passengerType=='Người lớn'" class="col-lg-2 pr-1">
                  <div class="row"><label for="passengerIdCard" class="label-text">CMND/Passport <span
                    style="color: red">(*)</span></label></div>
                </div>
                <div *ngIf="tickets[i].passengerType=='Người lớn'" class="col-lg-4 pl-4">
                  <div class="row">
                    <input id="passengerIdCard" style="height: 25px" type="text" formControlName="passengerIdCard">
                  </div>
                </div>


            </div>
            <div class="row pb-2">
              <div class="col-lg-2"></div>
              <div class="col-lg-4">
                <div class="row align-items-start">
                  <div *ngIf="ticketForm.get('passengerPhone')?.invalid && (ticketForm.get('passengerPhone')?.dirty || ticketForm.get('passengerPhone')?.touched)">
                    <small style="color: red">Số điện thoại không hợp lệ!</small><br>
                    <small style="color: red">Định dạng đúng: (+84)90xxxxxxx hoặc (+84)91xxxxxxx</small>
                  </div>
                </div>
              </div>
              <div class="col-lg-2"></div>
              <div class="col-lg-4 pl-4">
                <div class="row align-items-start">
                  <div *ngIf="ticketForm.get('passengerIdCard')?.invalid && (ticketForm.get('passengerIdCard')?.dirty || ticketForm.get('passengerIdCard')?.touched)">
                    <small style="color: red">CMND/Passport không hợp lệ!</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>


</div>
</form>
</div>

<div class="container">
  <div class="row mt-2">
    <div class="col-lg-6">
      <div class="row justify-content-center align-items-center">
        <button class=" btn btn-return fa fa-reply" style="height: 30px" (click)="closeDialog()"> Hủy
        </button>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row justify-content-center align-items-center">
        <button class="btn btn-search fa fa-plus" (click)="updateTicket()" [disabled]="formArray.invalid" (keydown.enter)="$event"  style="height: 30px;width: 177px"> Đặt vé</button>
      </div>
    </div>
  </div>

</div>
