<div class="container-fluid" style="min-height: 800px">
  <div class="row">
    <div class="col-lg-8 col-xs-12 mt-3">
      <div class="col-lg-12 d-flex justify-content-end">
        <div class="flight-list w-100" *ngIf="searched">
          <div class="flight-list-go">
            <div class="departure-summary pt-1 pl-3">
              <h5>{{locationFromSearch.cityName}} ({{locationFromSearch.areaCode}}) <i
                class="fa fa-fighter-jet"></i> {{locationToSearch.cityName}} ({{locationToSearch.areaCode}})</h5>
              <p class="text-grey">{{weekdaysGo[3]}} - Ngày {{datesGo[3] | date:'dd/MM/yyyy'}}</p>
            </div>
            <div class="days mt-3">
              <div class="btn-group d-flex align-items-center" role="group" aria-label="Basic example">
                <button type="button" class="btn text-grey" (click)="changeDayGo(0)" [disabled]="datesGo[0] <= currentDate.getTime()" >{{weekdaysGo[0]}}
                  <br> {{ datesGo[0] | date:'dd/MM/yyyy'}}</button>
                <button type="button" class="btn text-grey" (click)="changeDayGo(1)" [disabled]="datesGo[1] <= currentDate.getTime()">{{weekdaysGo[1]}}
                  <br> {{ datesGo[1] | date:'dd/MM/yyyy'}}</button>
                <button type="button" class="btn text-grey" (click)="changeDayGo(2)" [disabled]="datesGo[3] <= currentDate.getTime()">{{weekdaysGo[2]}}
                  <br> {{ datesGo[2] | date:'dd/MM/yyyy'}}</button>
                <button type="button" class="btn date-chosen" (click)="changeDayGo(3)">{{weekdaysGo[3]}}
                  <br> {{datesGo[3] | date:'dd/MM/yyyy' }}</button>
                <button type="button" class="btn text-grey" (click)="changeDayGo(4)">{{weekdaysGo[4]}}
                  <br> {{ datesGo[4] | date:'dd/MM/yyyy'}}</button>
                <button type="button" class="btn text-grey" (click)="changeDayGo(5)">{{weekdaysGo[5]}}
                  <br> {{ datesGo[5] | date:'dd/MM/yyyy'}}</button>
                <button type="button" class="btn text-grey" (click)="changeDayGo(6)">{{weekdaysGo[6]}}
                  <br> {{ datesGo[6] | date:'dd/MM/yyyy'}}</button>
              </div>
            </div>
            <div class="mt-3 flight-list-table" *ngIf="searchGoSuccess">
              <table class="table table-list">
                <thead>
                <tr class>
                  <th>Hãng</th>
                  <th>Chuyến bay</th>
                  <th>Giờ</th>
                  <th>Giá (VND)</th>
                  <th>Chi tiết</th>
                  <th>Số lượng vé</th>
                  <th>Đặt vé</th>
                </tr>
                </thead>
                <tbody *ngFor="let flight of flightGoList">
                <tr>
                  <td style="text-align: left; padding-left: 25px"><img width="25px" src="{{flight.logo}}">
                    {{flight.airlineName}}
                  </td>
                  <td>{{flight.flightCode}}</td>
                  <td>{{flight.departureTime}} - {{flight.endTime}}</td>
                  <td class="price">{{flight.price | number: '.0'}}</td>
                  <td class="d-flex justify-content-center" style="border: hidden">
                    <button class="btn-detail" (click)="ticketDetail(flight.ticketId)">Chi tiết</button>
                  </td>
                  <td>
                    <select (change)="getTicketNumber(flight.ticketId, $event.target.value)">
                      <option>0</option>
                      <option  *ngFor="let i of createListId(flight.lengthListId)" [value]= "i">{{i}}</option>
                    </select>
                  </td>
                  <td>
                  <button style="border-radius: 50%; height: 15px; width: 15px" [ngStyle]="{'background-image': checkChosen(flight.ticketId) ? changeColor(flight.ticketId):''}" (click)="addTicketId(flight.ticketId, flight.listId)"></button>
                  </td>
                </tr>
                <tr *ngIf="flight.ticketId == ticketDetailId && clickedButtonDetail">
                  <td colspan="6">
                    <div class="d-block">
                      <div class="d-flex align-items-center">
                        <p style="color: #F58317" class="mr-2"><i class="fa fa-plane"></i></p>
                        <p class="mr-2">Số hiệu chuyến bay: </p>
                        <p
                          style="color: #dc3545">{{flight.flightCode}}</p>
                      </div>
                      <div class="d-flex align-items-center">
                        <span style="color: #dc3545" class="mr-2"><i class="fa fa-play-circle"></i></span>
                        <span> Khởi hành: </span>
                      </div>
                      <div class="d-flex align-items-center">
                        <span>{{flight.departureTime}}, {{flight.flightDate}} (Giờ địa phương)</span>
                      </div>
                      <div class="d-flex align-items-center">
                        <p>{{locationFrom.cityName}} - Sân bay {{locationFrom.airportName}}</p>
                      </div>
                      <div class="d-flex align-items-center">
                        <span style="color: darkgreen" class="mr-2"><i class="fa fa-map-marker"></i></span>
                        <span> Đến:</span>
                      </div>
                      <div class="d-flex align-items-center">
                        <span>{{flight.endTime}}, {{flight.flightDate}} (Giờ địa phương)
                        </span>
                      </div>
                      <div class="d-flex align-items-center">
                        <p>{{locationTo.cityName}} - Sân bay {{locationTo.airportName}}</p>
                      </div>
                      <div class="d-flex align-items-center">
                        <span style="color: #F58317" class="mr-2"><i class="fa fa-check-circle-o"></i></span>
                        <span style="font-weight: bold; color: #dc3545">{{flight.ticketType}} - Vé {{flight.passengerType}}</span>
                      </div>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">Số ghế {{flight.chairName}} </span>
                        <a href="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fmedia.united.com%2Fimages%2FMedia%2520Database%2FSDL%2FTravel%2Finflight%2Faircraft%2F737-700%2F737_700_(12_114)_v1_2272px_64colorGIF.gif" target="_blank"> Xem chi tiết tại đây </a>
                      </div>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">Được khai thác bởi {{flight.airlineName}} </span>
                        <img width="25px" src="{{flight.logo}}">
                      </div>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="mt-3" style="background: white" *ngIf="!searchGoSuccess">
              <div class="d-flex justify-content-center pt-3">
                <img src="../../../../assets/img/not-found-flight.png" width="240px" height="140px">
              </div>
              <br>
              <div class="d-flex justify-content-center">
                <p class="font-weight-bold">Không tìm thấy chuyến bay hoặc đã hết chỗ</p>
              </div>
              <div class="d-flex justify-content-center">
                <small class="text-grey pb-3">Vui lòng chọn ngày bay hoặc hãng bay khác</small>
              </div>
            </div>
          </div>
          <div class="flight-list-return" *ngIf="isTwoWay && this.searchReturn">
            <div class="departure-summary pt-1 pl-3">
              <h5>{{locationToSearch.cityName}} ({{locationToSearch.areaCode}}) <i
                class="fa fa-fighter-jet"></i> {{locationFromSearch.cityName}} ({{locationFromSearch.areaCode}})</h5>
              <p class="text-grey">{{weekdaysGo[3]}} - Ngày {{datesReturn[3] | date:'dd/MM/yyyy'}}</p>
            </div>
            <div class="days mt-3">
              <div class="btn-group d-flex align-items-center" role="group" aria-label="Basic example">
                <button type="button" class="btn text-grey" (click)="changeDayReturn(0)" [disabled]="datesReturn[0] <= currentDate.getTime()">{{weekdaysReturn[0]}}
                  <br> {{ datesReturn[0] | date:'dd/MM/yyyy'}}</button>
                <button type="button" class="btn text-grey" (click)="changeDayReturn(1)" [disabled]="datesReturn[1] <= currentDate.getTime()">{{weekdaysReturn[1]}}
                  <br> {{ datesReturn[1] | date:'dd/MM/yyyy'}}</button>
                <button type="button" class="btn text-grey" (click)="changeDayReturn(2)" [disabled]="datesReturn[2] <= currentDate.getTime()">{{weekdaysReturn[2]}}
                  <br> {{ datesReturn[2] | date:'dd/MM/yyyy'}}</button>
                <button type="button" class="btn date-chosen" (click)="changeDayReturn(3)">{{weekdaysReturn[3]}}
                  <br> {{datesReturn[3] | date:'dd/MM/yyyy' }}</button>
                <button type="button" class="btn text-grey" (click)="changeDayReturn(4)">{{weekdaysReturn[4]}}
                  <br> {{ datesReturn[4] | date:'dd/MM/yyyy'}}</button>
                <button type="button" class="btn text-grey" (click)="changeDayReturn(5)">{{weekdaysReturn[5]}}
                  <br> {{ datesReturn[5] | date:'dd/MM/yyyy'}}</button>
                <button type="button" class="btn text-grey" (click)="changeDayReturn(6)">{{weekdaysReturn[6]}}
                  <br> {{ datesReturn[6] | date:'dd/MM/yyyy'}}</button>
              </div>
            </div>
            <div class="mt-3 flight-list-table" *ngIf="searchReturnSuccess">
              <table class="table table-list">
                <thead>
                <tr class>
                  <th>Hãng</th>
                  <th>Chuyến bay</th>
                  <th>Giờ</th>
                  <th>Giá (VND)</th>
                  <th>Chi tiết</th>
                  <th>Số lượng vé</th>
                  <th>Đặt vé</th>
                </tr>
                </thead>
                <tbody *ngFor="let flight of flightReturnList">
                <tr>
                  <td style="text-align: left; padding-left: 20px"><img width="25px" src="{{flight.logo}}">
                    {{flight.airlineName}}
                  </td>
                  <td>{{flight.flightCode}}</td>
                  <td>{{flight.departureTime}} - {{flight.endTime}}</td>
                  <td class="price">{{flight.price | number: '.0'}}</td>
                  <td class="d-flex justify-content-around" style="border: hidden">
                    <button class="btn-detail" (click)="ticketDetail(flight.ticketId)">Chi tiết</button>
                  </td>
                  <td>
                    <select (change)="getTicketNumber(flight.ticketId, $event.target.value)">
                      <option>0</option>
                      <option  *ngFor="let i of createListId(flight.lengthListId)" [value]= "i">{{i}}</option>
                    </select>
                  </td>
                  <td>
                  <td><button style="border-radius: 50%; height: 15px; width: 15px" [ngStyle]="{'background-image': checkChosen(flight.ticketId) ? changeColor(flight.ticketId):''}" (click)="addTicketId(flight.ticketId, flight.listId)"></button>
                  </td>
                </tr>
                <tr *ngIf="flight.ticketId == ticketDetailId && clickedButtonDetail">
                  <td colspan="6">
                    <div class="d-block">
                      <div class="d-flex align-items-center">
                        <p style="color: #F58317" class="mr-2"><i class="fa fa-plane"></i></p>
                        <p class="mr-2">Số hiệu chuyến bay: </p>
                        <p
                          style="color: #dc3545">{{flight.flightCode}}</p>
                      </div>
                      <div class="d-flex align-items-center">
                        <span style="color: #dc3545" class="mr-2"><i class="fa fa-play-circle"></i></span>
                        <span> Khởi hành: </span>
                      </div>
                      <div class="d-flex align-items-center">
                        <span>{{flight.departureTime}}, {{flight.flightDate}} (Giờ địa phương)</span>
                      </div>
                      <div class="d-flex align-items-center">
                        <p>{{locationTo.cityName}} - Sân bay {{locationTo.airportName}}</p>
                      </div>
                      <div class="d-flex align-items-center">
                        <span style="color: darkgreen" class="mr-2"><i class="fa fa-map-marker"></i></span>
                        <span> Đến:</span>
                      </div>
                      <div class="d-flex align-items-center">
                        <span>{{flight.endTime}}, {{flight.flightDate}} (Giờ địa phương)
                        </span>
                      </div>
                      <div class="d-flex align-items-center">
                        <p>{{locationFrom.cityName}} - Sân bay {{locationFrom.airportName}}</p>
                      </div>
                      <div class="d-flex align-items-center">
                        <span style="color: #F58317" class="mr-2"><i class="fa fa-check-circle-o"></i></span>
                        <span style="font-weight: bold; color: #dc3545">{{flight.ticketType}} - Vé {{flight.passengerType}}</span>
                      </div>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">Số ghế {{flight.chairName}} </span>
                        <a href="https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fmedia.united.com%2Fimages%2FMedia%2520Database%2FSDL%2FTravel%2Finflight%2Faircraft%2F737-700%2F737_700_(12_114)_v1_2272px_64colorGIF.gif" target="_blank"> Xem chi tiết tại đây </a>
                      </div>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">Được khai thác bởi {{flight.airlineName}} </span>
                        <img width="20px" src="{{flight.logo}}">
                      </div>
                    </div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="mt-3" style="background: white" *ngIf="!searchReturnSuccess">
              <div class="d-flex justify-content-center pt-3">
                <img src="../../../../assets/img/not-found-flight.png" width="240px" height="140px">
              </div>
              <br>
              <div class="d-flex justify-content-center">
                <p class="font-weight-bold">Không tìm thấy chuyến bay hoặc đã hết chỗ</p>
              </div>
              <div class="d-flex justify-content-center">
                <small class="text-grey pb-3">Vui lòng chọn ngày bay hoặc hãng bay khác</small>
              </div>
            </div>
          </div>
          <div class="mt-5 mb-3 d-flex justify-content-end">
            <button class="btn-confirm" (click)="buyTicket()">Xác nhận</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 mt-3 d-none d-md-block">
      <div class=" search-ticket">
        <div class="search-ticket-top">
          <div class="text-white ml-3"><p class="font-weight-bold">Sắp xếp</p></div>
          <div class="text-white mx-3 pl-3 p-1" style="border: 1px solid white; border-radius: 5px">
            <input type="radio" name="search-type" value="ticketId" [(ngModel)]="orderBy"
                   (change)="changeOrderBy($event.target.value)" checked> Đề xuất <br>
            <input type="radio" name="search-type" value="price" [(ngModel)]="orderBy"
                   (change)="changeOrderBy($event.target.value)"> Giá (Thấp đến cao) <br>
            <input type="radio" name="search-type" value="departureTime" [(ngModel)]="orderBy"
                   (change)="changeOrderBy($event.target.value)"> Thời gian khởi hành <br>
            <input type="radio" name="search-type" value="airlineName" [(ngModel)]="orderBy"
                   (change)="changeOrderBy($event.target.value)"> Hãng hàng không
          </div>
        </div>
        <div class="plane-ticket mt-2">
          <h4 class="text-center text-white">Đặt vé máy bay</h4>
          <div class="text-white list-inline ticket-radio">
            <input type="radio" name="choose-ticket" (click)="chooseTicket(1)" [checked]="isTwoWay"> Khứ hồi
            <input type="radio" name="choose-ticket" (click)="chooseTicket(0)" [checked]="!isTwoWay"> Một chiều
          </div>
          <div class="ticket-element d-flex ">
            <div class="ticket-input-left">
              <input type="text" class="form-control person" (click)="clickHidden(0)"
                     placeholder="Điểm khởi hành" [value]="locationFromCity"
                     readonly>
              <div class="ticket-icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
            </div>
            <div class="ticket-input-right">
              <input type="text" class="form-control ticket-normal" (click)="clickHidden(1)"
                     placeholder="Chọn ngày" [value]="flightDate | date:'dd/MM/yyyy'"
                     readonly>
              <div class="ticket-title" style="left: 30px">Ngày đi</div>
            </div>

            <!-- ------------------------------------------ ĐIỂM KHỞI HÀNH / ĐIỂM ĐẾN -------------------------------------------- -->
            <div class="bg-light showHidden" style="z-index: 690; height: 300px;">
              <div class="row pt-1">
                <div class="col pl-2 pr-1">
                  <input type="text" class="form-control" placeholder="Điểm khởi hành" [value]="locationFromCity"
                         readonly>
                </div>
                <div class="col pr-2 pl-1">
                  <input type="text" class="form-control ml-0" placeholder="Điểm đến" [value]="locationToCity" readonly>
                </div>
              </div>
              <div class="scroll outer mt-3">
                <table class="w-100">
                  <tr *ngFor="let location of locationList">
                    <td><a class="btn choose-location" (click)="chooseLocation(location)">{{location.cityName}}</a></td>
                    <td><a class="btn choose-location" (click)="chooseLocation(location)">{{location.cityName}}</a></td>
                  </tr>

                </table>
              </div>
              <hr>
              <div class="row" style="margin-top: -8px">
                <div class="col d-flex justify-content-end">
                  <button class="btn btn-secondary person mr-1" (click)="clickHidden(0)">Thoát</button>
                  <button class="btn btn-warning person" (click)="clickHidden(1)">Đi tiếp</button>
                </div>
              </div>
            </div>

            <!-- ------------------------------------------ NGÀY ĐI / NGÀY VỀ  ---------------------------------------------------- -->

            <div class="bg-light showHidden two-way"
                 style="z-index: 690; {{isTwoWay? 'height: 250px;': 'height: 160px;'}}">
              <div class="row pt-1">
                <div class="col-12 mx-3">
                  Ngày đi:
                  <input type="date" class="form-control mx-0" min="{{currentDate | date: 'yyyy-MM-dd'}}"
                         [(ngModel)]="flightDate ">
                </div>
                <div class="col-12 mx-3 {{isTwoWay? 'd-block': 'd-none'}}">
                  Ngày về:
                  <input type="date" class="form-control mx-0" [min]="flightDate" [(ngModel)]="returnDate">
                </div>
              </div>
              <hr>

              <div class="row" style="margin-top: -10px">
                <div class="col">
                  <button class="btn btn-secondary person mr-1" (click)="clickHidden(1)">Thoát</button>
                  <button class="btn btn-warning person" (click)="clickHidden(2)">Đi tiếp</button>
                </div>
              </div>
            </div>

          </div>
          <div class="{{isTwoWay? 'd-block': 'd-none'}}">
            <div class="ticket-element d-flex">
              <div class="ticket-input-left">
                <input type="text" class="form-control person" (click)="clickHidden(0)"
                       placeholder="Điểm đến" [value]="locationToCity"
                       readonly>
                <div class="ticket-icon"><i class="fa fa-plane" aria-hidden="true"></i></div>
              </div>
              <div class="ticket-input-right">
                <input type="text" class="form-control ticket-normal" (click)="clickHidden(1)"
                       placeholder="Chọn ngày"
                       [value]="returnDate | date:'dd/MM/yyyy'" readonly>
                <div class="ticket-title" style="left: 30px">Ngày về</div>
              </div>
            </div>
          </div>
          <div class=" {{!isTwoWay? 'd-block': 'd-none'}}">
            <div class="ticket-element d-flex w-100">
              <div class="ticket-input-left" style="width: 90%;height: 58px">
                <input type="text" class="form-control person" (click)="clickHidden(0)"
                       style="border-radius: 5px" placeholder="Điểm đến" [value]="locationToCity" readonly>
                <div class="ticket-icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
              </div>
            </div>
          </div>
          <div class="ticket-element d-flex w-100">
            <div class="ticket-input-left" style="width: 90%;height: 58px">
              <input type="text" class="form-control person ticket-normal" (click)="clickHidden(2)"
                     style="border-radius: 5px" placeholder="1 người lớn"
                     [value]="adults +' người lớn' + (children? ','+children + ' trẻ em': '') + (baby? ',' + baby + ' em bé':'')"
                     readonly>
              <div class="ticket-icon"><i class="fa fa-user" aria-hidden="true"></i></div>
              <div class="ticket-title">Hành khách</div>
            </div>

            <!-- ------------------------------------------ HÀNH KHÁCH   ---------------------------------------------------- -->

            <div class="bg-light showHidden" style="z-index: 1200">
              <div class="row" style="padding-top: 20px">
                <div class="col">
                  <img src="../../../../assets/img/nguoiLon.svg" alt="#" style="padding-left: 29px"><span
                  style="padding-left: 20px">Người lớn</span>
                  <div class="info-person" style=" position: absolute;top: 25px;left: 72px;">
                  </div>
                </div>
                <div class="col">
                  <a class="btn" (click)="subPassenger('adults')"><i class="fa fa-minus" aria-hidden="true"></i></a>
                  <span class="text-danger px-3"> {{adults}} </span>
                  <a class="btn" (click)="addPassenger('adults')"><i class="fa fa-plus" aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="row" style="padding-top: 20px">
                <div class="col">
                  <img src="../../../../assets/img/baby.svg" alt="#" style="padding-left: 23px"><span
                  style="padding-left: 16px!important;">Trẻ em</span>
                  <div class="info-person" style=" position: absolute;top: 20px;left: 75px;">
                  </div>
                </div>
                <div class="col">
                  <a class="btn" (click)="subPassenger('children')"><i class="fa fa-minus" aria-hidden="true"></i></a>
                  <span class="text-danger px-3"> {{children}} </span>
                  <a class="btn" (click)="addPassenger('children')"><i class="fa fa-plus" aria-hidden="true"></i></a>
                </div>
              </div>
              <hr>
              <div class="row" style="margin-top: -8px">
                <div class="col">
                  <button class="btn btn-secondary person mr-1" (click)="clickHidden(2)">Thoát</button>
                  <button class="btn btn-warning person" (click)="clickHidden(3)">Đi tiếp</button>
                </div>
              </div>

            </div>
          </div>
          <button (click)="getSearchTicket()" class="btn btn-warning findPlan">Tìm
            chuyến
            bay
          </button>
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>
