/*flight-list*/
.flight-list {
  max-width: 1000px;
  min-width: 750px;
}

.departure-summary {
  background-image: linear-gradient(6.71deg, #F9A51A 2.28%, #FBB612 27.93%, #FBF300 86.9%);;
}

.days {
  background-color: white;
}

.date-chosen {
  background-image: linear-gradient(6.71deg, #F9A51A 2.28%, #FBB612 27.93%, #FBF300 86.9%);;
  font-weight: bold;
}

.flight-list-table {
  background-color: white;
  text-align: center;
}
.flight-list-go {
  margin-bottom: 70px;
}
.text-grey {
  color: #5a6268;
}

.price {
  color: #e54744;
  font-weight: bold;
  font-size: 17px;
}

.btn-detail {
  display: table;
  padding: 5px 20px;
  min-width: 95px;
  max-height: 33px;
  min-height: 33px;
  background-image: linear-gradient(6.71deg, #F9A51A 2.28%, #FBB612 27.93%, #FBF300 86.9%);;
  border-radius: 10px;
}
.btn-confirm {
  font-weight: bold;
  display: table;
  padding: 5px 20px;
  min-width: 120px;
  background-image: linear-gradient(6.71deg, #F9A51A 2.28%, #FBB612 27.93%, #FBF300 86.9%);;
  border-radius: 10px;
}
/*#region PLANE-TICKET*/
.search-ticket {
  width: 380px;
  height: 520px;
  padding-top: 30px;
  background: rgba(39, 46, 245, 0.8);
  border-radius: 10px;
  box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.2);
  z-index: 600;
}

/*Edit input*/
.search-ticket .plane-ticket input {
  margin: 10px 0 0 18px;
  width: 90%;
  height: 48px;
  font-weight: 500;
  font-size: 15px;
  background: white;
}

.search-ticket .plane-ticket .ticket-input-left,
.search-ticket .plane-ticket .ticket-input-right {
  position: relative;
}

.search-ticket .plane-ticket .ticket-input-left .ticket-icon {
  font-size: 20px;
  position: absolute;
  top: 20px;
  left: 30px;
}

.search-ticket .plane-ticket .ticket-title {
  color: #7C848B;
  font-size: 12px;
  position: absolute;
  top: 12px;
  left: 55px;
}

.search-ticket .plane-ticket .ticket-normal {
  padding-top: 15px;
}

.search-ticket .plane-ticket input.ticket-normal {
  border-radius: 5px;
}

.search-ticket .plane-ticket .ticket-input-left input {
  width: 100%;
  padding-left: 32px;
  border-radius: unset;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.search-ticket .plane-ticket .ticket-input-right input {
  width: 80%;
  border-radius: unset;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.search-ticket .plane-ticket .ticket-radio input {
  margin-top: 20px;
  width: 17px;
  height: 17px;
}

/*CHOOSE Passenger*/
.search-ticket .plane-ticket .ticket-element {
  position: relative;
}

.search-ticket .plane-ticket .showHidden {
  width: 350px;
  height: 270px;
  border-radius: 5px;
  display: none;
  position: absolute;
  top: 60px;
  right: 16px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.search-ticket .plane-ticket .col:last-child {
  font-size: 25px;
  padding-right: 50px;
  text-align: end;
}

.search-ticket .plane-ticket table td a {
  color: black;
}

.search-ticket .plane-ticket table td:first-child {
  padding-left: 30px;
}

.search-ticket .plane-ticket table td:last-child {
  font-weight: bold;
}

/*button Tìm chuyến bay*/
.search-ticket .plane-ticket .findPlan {
  margin-top: 35px;
  width: 150px;
  position: absolute;
  left: 135px;
  z-index: 100;
  background-image: linear-gradient(6.71deg, #F9A51A 2.28%, #FBB612 27.93%, #FBF300 86.9%);;

}

/*#endregion*/

/*#region SCROLL*/
.scroll::-webkit-scrollbar {
  width: 12px;
}

.scroll::-webkit-scrollbar-track {
  background: white;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #567FEA;
  border-radius: 20px;
  border: 3px solid white;
}

.scroll {
  overflow: auto;

}

.outer {
  overflow-y: auto;
  height: 150px;
  width: 100%;

}


.outer th {
  text-align: left;
  top: 0;
  position: sticky;
  background-color: #567FEA;
}

/*#endregion*/
