*{
  font-size: 12px;
}

/*.main{*/
/*    background-image: url("./image/half-opacity-pink-smallsize.png");*/
/*}*/
.text-center {
  color: white;
  font-weight: bold;
  text-shadow: 0 0 0 2px #5f6062;
  background-color: #aaaaaa;
}


.select{
  width: 100px;
}
.select-witch{
  width: 150px;
  height: 36px !important;
}


.icon{
  padding: 10px 10px 0 0;
}

#content {
  box-shadow: 0 0 2px 2px #cccccc;
  width: 90%;
}

/*báº£ng*/

table {
  background-color: white;
}
.thead{
  background-color: #4666fe;
  /*background-color: #cccccc;*/
  /*background-color: #b09eef;*/
  color: black;

}

/*.choose-row{*/
/*    background-color: #f3b4ad;*/
/*}*/

.sub-main{
  /*background-image: url("./image/half-opacity-pink-smallsize.png") ;*/
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}

i{
  padding-bottom: 6px;
}
.pointer {cursor: pointer;}
i:hover {
  pointer-events: fill;
}
.search-form{
  width: 70%;

}


.select-field{
  height: 30px !important;
  border-radius: 5px;

}
.option{
  border-radius: 5px;
}

.input-search{
  border-radius: 5px;
  height: 30px !important;
  outline: none;
  padding-left: 15px;

}

/*button*/

.search-text{
  margin-top: 2px;
  font-size: 16px;
}


.btn-delete{
  background-color: #dc3545;
}

.btn-edit {
  background-color: #F58317;
  color: white;
}

.btn{
  min-width: 90px !important;
}

.btn-search {
  background-color: #18AEFF;
  color: white;
}

.btn-print {
  background-color: #F58317;
  color: white;
}
.btn-return{
  background-color: #0062D2;
  color: white;
}

.btn:hover{
  color: black;
}

.search{
  width: 70%;
}

td{
  text-align: center;
}
th{
  text-align: center;
}

.selected {
  background-color: #f3b4ad !important;
  color: white;
}
