<div class="scheduler-border d-flex justify-content-center align-items-center"
     style="background: #0062D2;height: 50px;color: black">
  <h2>Thay đổi thông tin vé</h2>
</div>
<br>
<form action="" class="form-group col-12" [formGroup]="editForm" (ngSubmit)="update()">
  <input type="hidden" formControlName="ticketId">
  <div class="row input-group">
    <div class="col-3 folow-right">
      <span>Mã đặt chổ</span>
    </div>
    <div class="col-8">
      <div class="d-flex align-items-center">
        <input readonly class="form-control" type="text" formControlName="ticketCode">
      </div>
    </div>
  </div>
  <br>
  <div class="row input-group">
    <div class="col-3 folow-right">
      <span>Họ và tên <label>(<label style="color: red">*</label>)</label></span>
    </div>
    <div class="col-8">
      <input class="form-control" type="text" formControlName="passengerName">
      <div
        *ngIf="!editForm.get('passengerName').valid && (editForm.get('passengerName').dirty ||editForm.get('passengerName').touched)">
        <div [hidden]="!editForm.get('passengerName').errors.required">
          <span style="color: red">Tên khách hàng không được trống.</span>
        </div>
        <div [hidden]="!editForm.get('passengerName').errors.pattern">
          <span style="color: red">Vui lòng nhập đầy đủ họ tên.</span>
        </div>
      </div>
    </div>

  </div>
  <br>
  <div class="row input-group">
    <div class="col-3 folow-right">
      <span>Điểm đi</span>
    </div>
    <div class="col-8">
      <input readonly type="text" class="form-control" formControlName="locationTo">
    </div>
  </div>
  <br>
  <div class="row input-group">
    <div class="col-3 folow-right">
      <span>Điểm đến</span>
    </div>
    <div class="col-8">
      <input readonly type="text" class="form-control" formControlName="locationFrom">
    </div>
  </div>
  <br>
  <div class="row input-group">
    <div class="col-3 folow-right">
      <span>Ngày đi</span>
    </div>
    <div class="col-8">
      <input readonly class="form-control" type="text" formControlName="flightDate">
    </div>
  </div>
  <br>
  <div class="row input-group">
    <div class="col-3 folow-right">
      <span>Giá vé</span>
    </div>
    <div class="col-8">
      <input readonly class="form-control" type="text" formControlName="price">

    </div>
  </div>
  <br>
  <div class="row input-group">
    <div class="col-3 folow-right">
      <span>Email <label>(<label style="color: red">*</label>)</label></span>
    </div>
    <div class="col-8">
      <input class="form-control" type="email" formControlName="passengerEmail">
      <div
        *ngIf="!editForm.get('passengerEmail').valid && (editForm.get('passengerEmail').dirty ||editForm.get('passengerEmail').touched)">
        <div [hidden]="!editForm.get('passengerEmail').errors.required">
          <span style="color: red">Email khách hàng không được trống.</span>
        </div>
        <div [hidden]="!editForm.get('passengerEmail').errors.email">
          <span style="color: red">Nhập sai định dạng email.Vui lòng nhập lại!!!</span>
        </div>
      </div>
    </div>


  </div>
  <br>


  <div class=" justify-content-end pb-3">

    <button [disabled]="!editForm.valid" style="margin-left: 170px" class="btn btn-success" type="submit" (click)="dialogRef.close(true)">

      <i class="fa fa-check" aria-hidden="true"  ></i> Hoàn tất
    </button>
    <button class="btn btn-back" style="background: #005cbf;color: white;margin-left: 10px"
            type="button" (click)="dialogRef.close(false);err()" data-dismiss="modal">
      <i class="icon-sidebar fa fa-reply "></i>
      Trở về
    </button>
  </div>
</form>

