ul, li{
  list-style: none;
}
.avatar_user {
  width: 100px;
  overflow: hidden;
  text-align: left;
}

.avatar_user img {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid #ccc;
}

.name_user {
  font-size: 16px;
  font-weight: 500;
  position: relative;
  margin-right: auto;
  margin-top: 10px;
  line-height: 100%;
}

.name_user::before {
  content: "";
  background-color: rgb(26, 172, 26);
  position: absolute;
  top: 5px;
  left: -20px;
  height: 8px;
  width: 8px;
  border-radius: 50%;
}

.user_item {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  text-align: center;
  background: #e54744;
}
.user_item:hover{
  background: black;
  color: white;
}
.user_item:target {
  background: black !important;
  color: white !important;
}

.user_list {
  padding: 20px 10px;
  margin-top: 10px;

}

.search_user {
  height: fit-content;
  border-bottom: 0.5px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.search_user input {
  height: 40px;
  width: 100%;
  border: 0.5px solid #ccc;
  border-radius: 20px;
  outline: none;
  padding: 5px 20px;
  margin-bottom: 20px;
  position: relative;
}

.search_user label {
  position: absolute;
  top: 30px;
  right: 40px;
  font-size: 25px;
  font-weight: 400;
}

