img{
  width: 100px;
  height: 40px;
}


.btn-print {
  background-color: #18AEFF;
  color: white;
}

.btn-print:hover{
  color: black!important;
}
.btn-return{
  background-color: #0062D2;
  color: white;
}
.ticket-t {
  width: 800px;
  height: 350px;
  border: 1px solid darkgray;
}

.ticket-t .ticket-t-header {
  padding: 5px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
}
.ticket-t .ticket-t-code {
  font-size: 27px;
  text-align: right;
}
.ticket-t .ticket-t-content .col-3:last-child {
  height: 50px;
}

.ticket-t .ticket-t-content .col-3:last-child .my-border{
  border: 2px solid black;

}

.ticket-t .ticket-t-footer {
  margin-top: 5px;
  padding: 10px 25px;
  color: white;
  display: flex;
}

