<div id="ve" class="container">
  <div class="row">
    <div class="col">
      <div class="ticket-t">
        <div class="ticket-t-header"  [style]="{background:ticketBack}">
          <div style="height: 40px" >
            <h5 class="my-2" >{{data.flight.airline.airlineName}}</h5>
          </div>
          <div><h5 class="my-2">Phòng Vé Giá Rẻ </h5></div>
        </div>
        <div class="ticket-t-content ">
          <div class="row position-relative" style="height: 176.18px">
            <div class="col-3 text-center">
              <div class="font-weight-bold">Mã đặt chỗ</div>
              <div class="text-primary">{{data.ticketCode}}</div>
              <div class="font-weight-bold">Thông tin khách hàng</div>
              <div>Họ và tên</div>
              <div class="text-primary">{{gender}}: {{data.passengerName}}</div>
            </div>
            <div class="col-6 px-0">
              <div class="ticket-t-code">||||||||||||||||||||||</div>
              <div class="font-weight-bold my-2" style="padding-left: 70px">Thông tin chuyến bay</div>

            </div>
            <div class="position-absolute" style="top: 80px;left: 200px">
              <div class="d-flex">
                <div>
                  <span class="font-weight-bold ml-1">Số hiệu:</span> <span
                  class="text-primary"> {{data.flight.flightCode}}</span><br>
                  <span class="font-weight-bold ml-1">Điểm đi:</span>
                  <span class="text-primary"> {{data.flight.locationFrom.cityName}}({{data.flight.locationFrom.areaCode}})</span><br>
                  <span class="font-weight-bold ml-1">Khởi Hành:</span> <span
                  class="text-primary pr-1"> {{data.flight.departureTime}}</span><br>
                  <span class="font-weight-bold ml-1">Ghế:</span> <span
                  class="text-primary pr-1"> {{data.chairName}}</span>

                </div>
                <div style="padding-left: 20px">
                  <span class="font-weight-bold">Ngày bay:</span> <span
                  class="text-primary"> {{data.flight.flightDate}}</span><br>
                  <span class="font-weight-bold">Điểm đến:</span> <span
                  class="text-primary"> {{data.flight.locationTo.cityName}} ({{data.flight.locationTo.areaCode}})</span><br>
                  <span class="font-weight-bold">Giờ đến: </span> <span
                  class="text-primary pr-1"> {{data.flight.endTime}}</span><br>
                  <span class="font-weight-bold">Khoang hạng: </span> <span
                  class="text-primary pr-1"> {{data.ticketType}}</span>
                </div>
              </div>
            </div>
            <div class="col-3 pl-0" >
              <div class="text-center m-1 my-border">
                Giá trị thanh toán <br>
                <span class="text-danger">{{money | currency: 'VND' : '' : '1.0-0'}}</span>&nbsp; &nbsp; VND
              </div>
            </div>
          </div>          <div class="row">
            <div class="col-2 mt-4   text-center">
              <div class="font-weight-bold">Điện  Thoại</div>
              0905123123
            </div>
            <div class="col-6 mt-4 border border-danger" style="background: #eae6e6">
              Vui lòng có mặt tại sân bay trước 90 phút. <br>
              Mang theo giấy tờ tùy thân: CMT, hộ chiếu,...
            </div>
            <div class="col-4 ">
              <div class="text-center font-weight-bold">Dịch vụ cộng thêm</div>
              <div class="pl-5">Hành lý: <span class="pl-2">{{baggage}}kg xách tay</span></div>
              <div class="text-center font-weight-bold">Trẻ em: <span class="text-primary">{{msg}}</span></div>
            </div>
          </div>
        </div>
        <div class="ticket-t-footer" [style]="{background:ticketBack}">
          <div><h5 class="m-0">Tổng đài: 1990000</h5></div>
        </div>

      </div>
    </div>
  </div>
</div>
<div style="margin-top: 20px">
  <button class=" btn btn-print" style="width: 100px;margin-left: 350px" type="button"
          type="submit"(click)="dialogRef.close(true);in()">
    <i class="fa fa-print" ></i> In vé
  </button>
  <button class="ml-3 btn btn-return" style="width: 100px;margin-left: 20px" type="button"
          (click)="dialogRef.close(false);err()">
    <i class="fa fa-reply"></i> Trở về
  </button>
</div>
