.select {
  width: 100px;
}

.select-width {
  width: 150px;
  height: 36px !important;
}

.select-field {
  height: 30px;
  border-radius: 5px;
  width: 25%;
}


.icon {
  padding: 10px 10px 0 0;
}

#content {
  box-shadow: 0 0 2px 2px #cccccc;
  width: 90%;
}

/*bảng*/

table {
  background-color: white;
}

.thead {
  background-color: #fe8f83;
  color: black;

}

.choose-row {
  background-color: #f3b4ad;
}

.sub-main {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}

i {
  padding-bottom: 6px;
}

.pointer {
  cursor: pointer;
}

i:hover {
  pointer-events: fill;
}

.search-form {
  width: 50%;

}

.input-search {
  border-radius: 5px;
  height: 30px;
  outline: none;
  padding-left: 15px;

}

/*button*/

.search-text {
  margin-top: 2px;
  font-size: 16px;
}


.btn-delete {
  background-color: #dc3545;
  color: white;
}

.btn-edit {
  background-color: #F58317;
  color: white;
}

.btn {
  min-width: 90px !important;
}

.btn-search {
  background-color: #18AEFF;
  color: white;
}

.btn-print {
  background-color: #F58317;
  color: white;
}

.btn-return {
  background-color: #0062D2;
  color: white;
}

.btn:hover {
  color: black;
}

.search {
  width: 70%;
}

@media (max-width: 995px) {
  #nam-dep-trai-vu-tru1 {
    padding-left: 60px;
  }

  #nam-dep-trai-vu-tru2 {
    justify-content: normal !important;
  }

  #nam-dep-trai-vu-tru3 th:nth-child(4),
  #nam-dep-trai-vu-tru3 th:nth-child(6),
  #nam-dep-trai-vu-tru3 th:nth-child(7),
  #nam-dep-trai-vu-tru3 td:nth-child(4),
  #nam-dep-trai-vu-tru3 td:nth-child(6),
  #nam-dep-trai-vu-tru3 td:nth-child(7) {
    display: none;
  }
}

@media (max-width: 755px) {
  #nam-dep-trai-vu-tru3 th:nth-child(4),
  #nam-dep-trai-vu-tru3 th:nth-child(5),
  #nam-dep-trai-vu-tru3 th:nth-child(6),
  #nam-dep-trai-vu-tru3 th:nth-child(7),
  #nam-dep-trai-vu-tru3 td:nth-child(4),
  #nam-dep-trai-vu-tru3 td:nth-child(5),
  #nam-dep-trai-vu-tru3 td:nth-child(6),
  #nam-dep-trai-vu-tru3 td:nth-child(7) {
    display: none;
  }
}
