.side-bar {
  color: black;
}
.side-bar .background-side {
  box-shadow: 0 0 2px 2px #cccccc;
}
.side-bar ul, .side-bar li {
  padding-left: 0;
  list-style: none;
  background: rgba(255,255,255, 0.7);

}
.side-bar .fa-circle {
  font-size: 7px;
}
.side-bar ul li {
  padding: 10px;
}

.side-bar .item-hover {
  /*font-weight: bold;*/
}
.side-bar .item-hover a {
  color: black;
  text-decoration: none;
}

.side-bar .item-hover:hover {
  color: white;
  background: #e54744;
}
.side-bar .item-hover:hover a {
  color: white;
  text-decoration: none;
}

.side-bar .menu-item{
  width: 100%;
}
.to-text-sidebar{
  font-weight: bold;
  font-size: larger;
}
.side-bar .checkBtn {
  margin-top: 5px;
  font-size: 25px;
  /*color: black;*/
  float: right;
  cursor: pointer;
  display: none;
}

.side-bar #check1 {
  display: none;
}
.background-side {
  display: block;
}
@media (max-width: 995px) {
  .admin-content {
    position: relative;
  }
  .side-bar .checkBtn {
    padding-left: 20px;
    padding-right: 10px;
    display: block;
    z-index: 100;
  }
  .side-bar {
    position: absolute;
    top: 0;
    left: 15px;
    z-index: 100;
  }

  .background-side {
    width: 260px;
    display: none;
  }

  #check1:checked ~ .background-side {
    display: block;
  }
  #check1:checked + .checkBtn{
    padding-left: 0;
  }
}
