<div class="side-bar">
  <input type="checkbox" id="check1">
  <label for="check1" class="checkBtn">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </label>
  <ul class="background-side">
    <li class="menu-item p-0">
      <ul class="menu-item-child">
        <li class="item item-hover"><a class="pl-2 to-text-sidebar">Quản lý khách hàng<i
          class="fa fa-caret-down ml-2" aria-hidden="true"></i></a></li>
        <div class="menu-item-child active">
<!--          <li *ngIf="!isAdmin && !isModerator" class="item-hover"><a href="" class="pl-4 d-flex">-->
<!--            <div class="pr-2" style="margin-top: -2px"><i class="fa fa-arrow-right"-->
<!--                                                          aria-hidden="true"></i></div>-->
<!--            <div>Thông tin cá nhân</div>-->
<!--          </a></li>-->
          <li class="item-hover"><a href="/customer/payment" class="pl-4 d-flex">
            <div class="pr-2" style="margin-top: -2px"><i class="fa fa-arrow-right"
                                                          aria-hidden="true"></i></div>
            <div>Thanh toán</div>
          </a></li>
          <li class="item-hover"><a href="/customer/transaction-history" class="pl-4 d-flex">
            <div class="pr-2" style="margin-top: -2px"><i class="fa fa-arrow-right"
                                                          aria-hidden="true"></i></div>
            <div>Lịch sử giao dịch</div>
          </a></li>
          <li *ngIf="!isAdmin && !isModerator" class="item-hover"><a href="/customer/change-password" class="pl-4 d-flex">
            <div class="pr-2" style="margin-top: -2px"><i class="fa fa-arrow-right"
                                                          aria-hidden="true"></i></div>
            <div>Đổi mật khẩu</div>
          </a></li>
        </div>
      </ul>
    </li>
    <li class="menu-item p-0" *ngIf="isAdmin">
      <ul class="menu-item-child">
        <li class="item item-hover"><a class="pl-2 to-text-sidebar">Quản trị viên<i
          class="fa fa-caret-down ml-2" aria-hidden="true"></i></a></li>
        <div class="menu-item-child active">
          <li class="item-hover"><a href="/management/admin" class="pl-4 d-flex">
            <div class="pr-2" style="margin-top: -2px">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </div>
            <div>Thông tin admin</div>
          </a>

          </li>
          <li class="item-hover"><a href="/management/employee" class="pl-4 d-flex">
            <div class="pr-2" style="margin-top: -2px">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </div>
            <div>Quản lý nhân viên</div>
          </a>
          </li>
          <li *ngIf="!isModerator && !isAdmin" class="item-hover"><a href="management/report" class="pl-4 d-flex">
            <div class="pr-2" style="margin-top: -2px">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </div>
            <div>Thống kê</div>
          </a>
          </li>
        </div>
      </ul>
    </li>
    <li class="menu-item p-0" *ngIf="isAdmin || isModerator">
      <ul class="menu-item-child">
        <li class="item item-hover"><a class="pl-2 to-text-sidebar">Quản lý nhân viên<i
          class="fa fa-caret-down ml-2" aria-hidden="true"></i></a></li>
        <div class="menu-item-child active">
          <li *ngIf="!isAdmin" class="item-hover"><a href="/management/employee-information" class="pl-4 d-flex">
            <div class="pr-2" style="margin-top: -2px">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </div>
            <div>Thông tin nhân viên</div>
          </a>

          </li>
          <li class="item-hover">
            <a routerLink="/management/customer" class="pl-4 d-flex">
            <div class="pr-2" style="margin-top: -2px">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </div>
            <div>Quản lý khách hàng</div>
          </a>
          </li>
          <li class="item-hover"><a href="/management/ticket/list" class="pl-4 d-flex">
            <div class="pr-2" style="margin-top: -2px">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </div>
            <div>Quản lý bán vé</div>
          </a>
          </li>
          <li class="item-hover"><a href="" class="pl-4 d-flex">
            <div class="pr-2" style="margin-top: -2px">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </div>
            <div>Đặt vé</div>
          </a>
          </li>
          <li *ngIf="!isModerator" class="item-hover"><a href="management/report" class="pl-4 d-flex">
            <div class="pr-2" style="margin-top: -2px">
              <i class="fa fa-arrow-right" aria-hidden="true"></i>
            </div>
            <div> Thống kê</div>
          </a>
          </li>
        </div>
      </ul>
    </li>
  </ul>
</div>
